* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  cursor: pointer;
}

/* RODAPÉ */


.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #006633;
  font-size: 18px;
}

.redes span {
  margin-right: 15px;
  cursor: pointer;
  color: white;
}

.contato {
  position: relative;
  cursor: pointer;
}

.caixa {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: #009639;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  top: -70px;
  width: 200px;
  text-align: left;
}